.header-main {
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1220px;
    margin: 0 auto;
    height: 116px;
    border-bottom: 1px solid #C4C4C4;

    .header-links {
        color: #393939;
        font-size: 16px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        justify-content: space-between;
        justify-content: flex-end;
        
        @media screen and (max-width: 768px) {
            display: none;
        }

        ul {
            list-style: none;
            flex-direction: row;
            display: flex;
            justify-content: space-between;
            justify-items: flex-end;
        }

        a {
            color: #393939;
            text-decoration: none;
        }

        li {
            margin-right: 50px;
        }
    }

    .header-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .header-buttons button {
        width: 102px;
        padding: 10px 16px;
        gap: 10px;
        color: #FFF;
        font-size: 16px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        border: none;
    }

    .header-buttons-links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .login {
        border-radius: 8px;
        background: #407F55;
        width: 102px;
        padding: 10px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .sign {
        border-radius: 8px;
        background: #FB9C46;
        display: flex;
        width: 102px;
        padding: 10px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-left: 50px;
    }
}

.header-bottom {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 1220px;
    margin: 0 auto;
    

    .header-text {
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-items: flex-start;
        

        hr {
            width: 136px;
            height: 1px;
            background: #FF922F;
            border: none;
        }
    }
    .header-info {
        color: #FB9C46;
        font-size: 16px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-right: 24px;
    }

    .header-title {
        flex-direction: column;
        display: flex;
        width: 656px;
        flex-direction: column;
        flex-shrink: 0;

        .header-title-h3 {
            color: #000;
            font-size: 47px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 700;
            line-height: 160%;
            letter-spacing: 1.68px;
        }
    
        .header-title-h4 {
            color: #6C6C6C;
            font-size: 18px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 400;
            line-height: 160%;
        }
    }

    .header-bottom-button button{
        color: #FFF;
        font-size: 16px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 16px;
        display: flex;
        width: 290px;
        height: 62px;
        padding: 10px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border: none;
        background: #058E6E;
        box-shadow: 0px 3.849479913711548px 3.623039960861206px 0px rgba(64, 127, 85, 0.03), 0px 10.643319129943848px 10.017241477966309px 0px rgba(64, 127, 85, 0.04), 0px 25.625011444091797px 24.117658615112305px 0px rgba(64, 127, 85, 0.05), 0px 85px 80px 0px rgba(64, 127, 85, 0.08);
    }
}

.text-orange {
    color: #FF922F;
}

.header-main-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;   
    align-items: center;
    width: 1220px;
    margin: 0 auto;
}

.header-right {
    display: flex;
    border-radius: 204px;
    background: linear-gradient(122deg, #F1C365 0%, #F6AE54 63.02%, #FF922F 100%);
    width: 462px;
    height: 625px;
    flex-shrink: 0;
    position: relative;
    margin-top: 65px;
    margin-bottom: 85px;

    .china {
        width: 109px;
        height: 108px;
        border-radius: 109px;
        position: absolute;
        left: 316px;
    }
    
    .japan {
        width: 109px;
        height: 108px;
        border-radius: 109px;
        position: absolute;
        top: 131px;
        left: -50px;
    }
    
    .italy {
        width: 109px;
        height: 108px;
        border-radius: 109px;
        border: 5px solid #FFF;
        position: absolute;
        left: 400px;
        top: 295px;
    }
    
    .online {
        border-radius: 21px;
        background: #FFF;
        width: 237.578px;
        padding: 15px 30px;
        flex-shrink: 0;
        position: absolute;
        border-radius: 21px;
        background: #FFF;
        top: 485px;
        left: -152px;
        box-sizing: border-box;
    }
    
    .main-block-header-text {
        color: #000;
        font-size: 16px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 0;
        margin-bottom: 12px;
    
    }
    
    .main-block-header-img {
        position: relative;
        height: 54px;
    }
    
    .Ellipse-3 {
        position: absolute;
    }
    
    .Ellipse-4 {
        position: absolute;
        left: 25px;
    }
    .Ellipse-5 {
        position: absolute;
        left: 50px;
    }
    .Ellipse-6 {
        position: absolute;
        left: 75px;
    }
    
    .ellipse-7 {
        border-radius: 49.267px;
        background: #058E6E;
        width: 49.267px;
        height: 49.267px;
        flex-shrink: 0;
        position: absolute;
        left: 100px;
        color: #FFF;
        font-size: 16px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        align-items: center;
        justify-items: center;
        align-content: center;
        justify-content: center;
        display: flex;
    }
    
    .chart {
        position: absolute;
        left: -18px;
        top: -18px;
    }    
}

.header-burger {
    display: none;
}

.flags-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width: 1220px;
    margin: 0 auto;
  }
  
  .flags-block-left {
    display: flex;
    flex-direction: column;
  }
  
  .flags-block-left-text-hr {
    flex-direction: row;
  }
  
  .flags-block-left-text-hr-line {
    width: 200px;
    height: 1px;
    background: #FF922F;
    border: none;
    color: #FF922F;
    margin-top: -14px;
    margin-left: 151px;
  }
  
  .flags-block-left-text {
    flex-direction: column;
  }
  
  .flags-block-left-title {
    color: #FB9C46;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .flags-block-left-header {
    color: #393939;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 1.68px;
  }
  
  .flags-block-left-content {
    color: #FB9C46;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 176%;
    margin: 0;
  }
  
  .flags-block-right {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
  }
  
  .flags-block-right-h5 {
    color: #6C6C6C;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 200%;
    width: 666px;
  }
  
  .flags-img img{
    width: 46px;
    box-shadow:#000;
    filter: drop-shadow(0px -0.24044248461723328px 3.0570545196533203px rgba(0, 0, 0, 0.05)) drop-shadow(0px -0.6080970764160156px 7.731520175933838px rgba(0, 0, 0, 0.08)) drop-shadow(0px -1.240460991859436px 15.771575927734375px rgba(0, 0, 0, 0.09)) drop-shadow(0px -2.555115222930908px 32.48646545410156px rgba(0, 0, 0, 0.12)) drop-shadow(0px -7px 89px rgba(0, 0, 0, 0.17));
  }

  .flags-img {
    display: flex;
    flex-direction: row;
  }

  .View-All {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .View-All-h4 {
    color: #FB9C46;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20px;
  }

  .View-All img{
    width: 28px;
    height: 28px;
    flex-shrink: 0;
  }

  .lessons-tutors {
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width: 1220px;
    margin: 0 auto;
    display: flex
  }

  .lessons-tutors-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
    width: 629px;
  }

  .lessons-tutors-title {
    color: #000;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 1.26px;
  }

  .lessons-tutors-text {
    color: #6C6C6C;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }

  .Book-Your-Lessons {
    border-radius: 16px;
    background: #FB9C46;
    box-shadow: 0px 0.5008620619773865px 44.70193862915039px 0px rgba(255, 146, 47, 0.08), 0px 4px 357px 0px rgba(255, 146, 47, 0.15);
    border: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .Find-Your-Tutors {
    color: #FB9C46;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 16px;
    border: 3px solid #FB9C46;
    box-shadow: 0px 3.849479913711548px 3.623039960861206px 0px rgba(64, 127, 85, 0.03), 0px 10.643319129943848px 10.017241477966309px 0px rgba(64, 127, 85, 0.04), 0px 25.625011444091797px 24.117658615112305px 0px rgba(64, 127, 85, 0.05), 0px 85px 80px 0px rgba(64, 127, 85, 0.08);
  }

  .lessons-tutors-buttons button{
    width: 199px;
    height: 61px;
  }

  .lessons-tutors-right {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border: 5px solid rgba(255, 146, 47, 0.50);
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;

    & .main {
        position: relative;
        z-index: 2;
    }

    & .man {
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        z-index: 3;
        top: 336px;
        left: -5px;
    }

    & .circle {
        background: #F0D9CA;
        width: 75%;
        height: 75%;
        position: absolute;
        top: 12.5%;
        left: 12.5%;
        border-radius: 50%;
        z-index: 1;
    }

    & .img-right-end {
        position: relative;
        z-index: 3;
        top: -81px;
        left: -43px;
        fill: #F6F6F6;
        stroke-width: 3px;
        stroke: #FFF;
        filter: drop-shadow(0px -0.24044248461723328px 3.0570545196533203px rgba(0, 0, 0, 0.05)) drop-shadow(0px -0.6080970764160156px 7.731520175933838px rgba(0, 0, 0, 0.08)) drop-shadow(0px -1.240460991859436px 15.771575927734375px rgba(0, 0, 0, 0.09)) drop-shadow(0px -2.555115222930908px 32.48646545410156px rgba(0, 0, 0, 0.12)) drop-shadow(0px -7px 89px rgba(0, 0, 0, 0.17));
    }
  }

.green-block {
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  width: 1220px;
  margin: 0 auto;
  display: flex;

    & .girl {
      margin-top: 88px;
      flex-shrink: 0;
      position: relative;
      border-radius: 49px;
      overflow: hidden;
      margin-right: 86px;
      

      & .bg {
        border-radius: 49px;
        background: #E0E0E0;
        overflow: hidden;
        z-index: 3;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 75%;
        height: 75%;
        z-index: 4;
      }

      & img {
        position: relative;
        z-index: 5;
      }
    }

    .green-block-right {
      display: flex;
      flex-direction: column;
    }

    .green-block-right-text {
      display: flex;
      flex-direction: column;
      
    }
    .green-block-title {
      color: #393939;
      font-family: Poppins;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 160%; /* 57.6px */
      letter-spacing: 1.26px;
    }

    .text-green {
      color: #058E6E;
      font-family: Poppins;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 160%;
      letter-spacing: 1.26px;
    }

    .green-block-info {
      color: #6C6C6C;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 28.8px */
    }

    .green-block-boxes {
      display: flex;
      flex-direction: column;
    }

    .green-block-1 {
      border-radius: 16px;
      background: #FFF;
      box-shadow: 0px -2px 128px 0px rgba(5, 142, 110, 0.14);
      width: 497px;
      flex-shrink: 0;
      display: flex;
      flex-direction: row;
      padding: 18px;
      margin-bottom: 24px;
    }


    .green-block-title {
      color: #393939;
      font-family: Poppins;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 160%; /* 57.6px */
      letter-spacing: 1.26px;
    }

    .green-block-text {
      color: #8D8D8D;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 22.4px */
    }

    .green-link {
      color: #058E6E;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      text-decoration: none;
    }

    & .green-block-left {
      display: flex;
    }

    & .green-box-title {
      color: #393939;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 170%; /* 27.2px */
    }

    .green-box-img {
      justify-content: center;
      justify-items: center;
      align-items: center;
      align-content: center;
      display: flex;
    }

    .green-boxes-text {
      display: flex;
      flex-direction: column;
      margin-left: 20px;;

      & h5 {
        margin: 0;
      }

      & ul {
        margin: 0;
        padding-left: 20px;
        margin-top: 10px;
      }
    }

    .green-block-2 {
      border-radius: 16px;
      background: #FFF;
      box-shadow: 0px -2px 128px 0px rgba(5, 142, 110, 0.14);
      width: 497px;
      flex-shrink: 0;
      display: flex;
      flex-direction: row;
      padding: 18px;
      margin-bottom: 24px;
    }

    .green-block-3 {
      border-radius: 16px;
      background: #FFF;
      box-shadow: 0px -2px 128px 0px rgba(5, 142, 110, 0.14);
      width: 497px;
      flex-shrink: 0;
      display: flex;
      flex-direction: row;
      padding: 18px;
      margin-bottom: 24px;
    }
}