@media screen and (max-width: 768px) {
    .header-main {
        display: flex;
        flex-direction: row;
    }

    .header-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: auto;
        margin: 0 auto;
        height: 77px;
        border-bottom: 1px solid #C4C4C4
    }

    .header-top .header-buttons button {
        display: none;
    }

    .header-top {
        width: 100%;
    }

    .header-main {
        flex-direction: column;
    }

    .header-burger {
        display: flex;
    }

    .header-main-content {
        flex-direction: column;
    }

   .header-bottom .header-title {
        width: auto;
    }

    .header-bottom .header-title .header-title-h3 {
        width: auto;
        font-size: 32px;
    }

    .header-bottom .header-title .header-title-h4 {
        width: auto;
        font-size: 14px;
    }

    .header-title .header-bottom-button {
        width: auto;
    }

    .header-bottom {
        width: auto;
    }

    .header-main-content {
        width: auto;
    }

    .main-img {
        width: 100%;
        height: auto;
        flex-shrink: 0;
    }

    .header-right {
        width: 261.85px;
        height: auto;
        flex-shrink: 0;
    }
    .header-right .china {
        width: 51.612px;
        height: 51.07px;
        flex-shrink: 0;
        left: 187px;
    }

    .header-right .japan {
        width: 51.612px;
        height: 51.07px;
        flex-shrink: 0;
        top: 58px;
        left: -18px;
    }

    .header-right .italy {
        width: 51.612px;
        height: 51.07px;
        flex-shrink: 0;
        left: 232px;
        top: 160px;
    }

    .header-right .online {
        width: 112.495px;
        height: 57.465px;
        flex-shrink: 0;
        top: 238px;
        left: -64px;

    }

    .header-right .main-block-header-text {
        color: #000;
        font-family: Poppins;
        font-size: 8px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .header-right .Ellipse-3 {
        width: 23.328px;
        height: 23.297px;
        flex-shrink: 0;
    }
    .header-right .Ellipse-4 {
        width: 23.328px;
        height: 23.297px;
        flex-shrink: 0;
        left: 12px
    }
    .header-right .Ellipse-5 {
        width: 23.328px;
        height: 23.297px;
        flex-shrink: 0;
        left: 24px
    }
    .header-right .Ellipse-6 {
        width: 23.328px;
        height: 23.297px;
        flex-shrink: 0;
        left: 36px
    }
    .header-right .ellipse-7 {
        width: 23.328px;
        height: 23.297px;
        flex-shrink: 0;
        color: #FFF;
        font-family: Poppins;
        font-size: 10px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        left: 54px
    }

    .header-right .chart {
        width: 20.736px;
        height: 20.333px;
        flex-shrink: 0;
        left: 0px;
        top: 0px;
    }

    .flags-block {
        flex-direction: column;
        width: auto;
    }

    .flags-block-right {
        width: auto;
    }

    .flags-block-right-h5 {
        width: auto;
    }

    .flags-img {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 115px;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        align-items: center;
        justify-items: center;
        
    }
}